<<<<<<< HEAD
.bid-image {
  width: 300px;
  padding: 15px;
}

.auction-bid {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 720px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin-top: 15px;
}

.auction-bid > section > section:first-child,
.auction-bid > section > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}
.auction-bid > section > section:nth-child(3) {
  flex-direction: column;
  margin-top: 10px;
}

.auction-bid h2 {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.bid-description {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .auction-bid > section > section {
    flex-direction: row;
    margin-bottom: 15px;
  }
}

.login-to-bid {
  position: absolute;
  padding: 5px;

  background-color: red;
  color: rgb(255, 240, 240);
  text-align: center;
  margin: 5px;
  z-index: 1;
  right: 0;
  top: 100px;
  width: 50%;
  /* transform: rotate(45deg); */
=======
.auction-info {
  display: flex;
  background-color: gray;
  padding-bottom: 80px;
}

img {
  width: 250px;
  height: 250px;
}

.auction-left-side-info {
  flex-direction: column;
  flex: 1 1;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  width: 351px;
  height: 143px;
}

.auction-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.auction-right-side-info {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
}

#bid-btn {
  align-items: center;
>>>>>>> 7054043 (auction_bid details)
}
