* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

#page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  #page {
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
