* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #page {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
